@charset "utf-8";
/* CSS Document */

/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background-color: #f4f4f4; /* 背景色をやや薄いグレーに */
}

.container {
  max-width: 640px;
  margin: auto;
  padding: 30px; /* 余白を広めに */
  background-color: #fff; /* 白の背景 */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 軽い影を付ける */
}

.title {
  background-color: #5c068c; /* タイトルの背景色 */
  font-size: 28px; /* タイトルのフォントサイズ */
  color: white; /* タイトルの文字色 */
  padding: 20px; /* タイトルの余白 */
  text-align: left; /* タイトルを左寄せ */
  margin-bottom: 30px; /* タイトルの余白を広めに */
}

.title a {
  color: white; /* リンクの文字色を白に */
  text-decoration: none; /* リンクの下線をなしに */
  font-weight: bold; /* フォントを太く */
}

.title a:hover {
  text-decoration: underline; /* マウスオーバー時に下線を表示 */
}

.title sub {
  text-align: right; /* サブタイトルを右寄せ */
  font-size: 14px; /* サブタイトルのフォントサイズを小さく */
  color:white; /* 落ち着いたグレー */
  margin-top: 10px; /* サブタイトルの上の余白 */
  margin-left: auto; /* 左のマージンを自動に */
  margin-right: 0; /* 右のマージンを0に */
  display: block; /* ブロック要素にして幅を100%に */
}


/* 通常のボタンスタイル */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0; /* ボタンの上下の余白を広めに */
  border: 1px solid #ccc; /* 落ち着いたグレーのボーダー */
  border-radius: 4px;
  background-color: #f9f9f9; /* 薄いグレーの背景 */
  color: #333;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
  border-color: #bbb; /* マウスオーバー時に少し濃いグレーに */
  background-color: #eee; /* マウスオーバー時に背景色を少し濃く */
}

/* 無効なボタンスタイル */
.button:disabled {
  background: #e0e0e0; /* 無効なボタンの背景色 */
  color: #999; /* 無効なボタンの文字色 */
  border: 1px solid #bbb; /* 無効なボタンのボーダー */
  cursor: not-allowed; /* カーソルを無効表示に */
}

.footer {
  text-align: center;
  color: #777; /* 薄いグレー */
  font-size: 12px;
  margin-top: 20px;
}

/* VIEWER BOX STYLES */
.viewer-box {
  border: 1px solid #ccc; /* 落ち着いたグレーのボーダー */
  padding: 20px;
  margin: 30px auto; /* ボックスの上下の余白を広めに */
  background-color: #f9f9f9; /* 薄いグレーの背景 */
  border-radius: 6px;
}

.viewer-box p {
  margin: 10px 0; /* ボックス内のテキストの余白 */
  font-size: 20px; /* フォントサイズはやや小さめ */
  color:black; /* 落ち着いたグレー */
}
